In [24]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [25]:
# Load user profiles
user_profiles = pd.read_csv('Data//user_profiles_edited.csv')

In [26]:
user_profiles

,User_ID,User_Name,Occupasion,Age,Interests
0,1,johndoe,Software Engineer,25,"Adventure, Nature"
1,2,janedoe,Teacher,30,"Culture, History"
2,3,alice,Student,22,"Beaches, Relaxation"
3,4,bob,Photographer,28,"Wildlife, Adventure"
4,5,charlie,Environmental Scientist,35,"Nature, Wildlife"
5,6,dave,NaN,40,",""Cultural, Historical"",Historian"
6,7,emma,Travel Blogger,27,"Adventure, Hiking"
7,8,frank,Photographer,32,Wildlife

In [27]:
# Load the user_reviews
user_reviews = pd.read_csv('Data\\user_reviews_edited.csv')

In [28]:
user_reviews

,Review ID,User ID,Location,Rating,Review
0,1,1,Yala,5,Amazing wildlife experience
1,2,1,Horton Plains,4,Beautiful hiking trails
2,3,2,Kandy,4,Rich history and culture
3,4,2,Sigiriya,5,Stunning ancient rock fortress
4,5,3,Hikkaduwa,3,Nice beaches but can get crowded
5,6,3,Unawatuna,4,Lovely beach and great food
6,7,4,Yala,5,Incredible safari and animal sightings
7,8,4,Nuwara Eliya,4,Beautiful scenery and tea plantations
8,9,5,Sinharaja,5,A great place for nature lovers
9,10,5,Pinnawala,4,Interesting elephant orphanage

In [29]:
# fuction to vectorize user interests

def vectorize_interests(interests):
    # create and instance for count vectorizer
    vectorizer = CountVectorizer(tokenizer=lambda x: x.split(','))

    # fit the vectorizer on the interest
    interes_matrix = vectorizer.fit_transform(interests)
    return interes_matrix

In [32]:
# function to recommend places based on the user preferences
def recommended_places(user_id):
    # get user preferences
    user_data = user_profiles[user_profiles['user_data'] == user_id]
    
    # compute similarity scores with other users
    interests_vector = vectorize_interests(user_data['interests'])

    # calculate similarity
    user_similarity = cosine_similarity(interests_vector, user_profiles['Interests'].apply(vectorize_interests))

    # get similar users
    similar_users = similar_users.iloc[user_similarity.argsort()[0][-5:]] # top 5 similar users

    # agregate their reviews
    recommendations = user_reviews[user_reviews['user_id'].isin(similar_users['user_id'])]
    return recommendations[['location', 'rating', 'review']]